{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastArray": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::RecallDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::RecallDaftNestedObjectTreeWithId"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "SignpostMarv\\DaftObject\\EasyDB\\WriteableTreeTrait::ObtainLastLeafInTree"
            ]
        },
        "Plus": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::CountDaftNestedObjectTreeWithObject"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::CountDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::FilterQueryDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::LeftOpRightOpDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::QueryDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::RecallDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBTree::SelectingQueryDaftNestedObjectTreeFromArgs",
                "SignpostMarv\\DaftObject\\EasyDB\\WriteableTreeTrait::ObtainLastLeafInTree"
            ]
        }
    }
}
